.tou-resize-ing {
  & .tou-guideline {
    display: flex!important;
  }
}

.tou-resize-handle {
  background-color: #369;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: col-resize;
  cursor: ew-resize;
  height: 11px;
  position: absolute;
  top: calc(50% - 10px);
  width: 11px;

  &-left {
    left: -10px;
  }
  &-right {
    right: -10px;
  }
  &-bottom {
    cursor: row-resize;
    cursor: ns-resize;
    left: calc(50% - 10px);
    top: calc(100% - 8px);
  }
}

.tou-fixed-height {
  &:hover {
    & >.tou-unfix-handle {
      bottom: 8px;
      cursor: pointer;
      display: block;
      left: calc(50% - 100px);
      opacity: 0.2;
      position: absolute;
      text-align: center;
      width: 200px;

      &:hover {
        opacity: 0.5;
      }

      &::before {
        background-color: #ccc;
        border-radius: 0.8em;
        content: '높이고정 없애기';
        font-size: 0.8em;
        padding: 4px 8px;
      }
    }
  }
}
