.tou-resize-ing {
  & .tou-guideline {
    display: flex;
  }
}

.tou-movement {
  & .tou-resize-handle {
    visibility: hidden;
  }
}

.tou-resize-handle {
  background-color: #369;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: col-resize;
  cursor: ew-resize;
  height: 11px;
  position: absolute;
  top: calc(50% - 10px);
  width: 11px;

  &-left {
    left: -10px;
  }
  &-right {
    right: -10px;
  }
  &-bottom {
    cursor: row-resize;
    cursor: ns-resize;
    left: calc(50% - 10px);
    top: calc(100% - 8px);
  }
}
